{% extends "base.html.jinja" %}

{% block content %}

    <h2>About Me</h2>
    <p>I'm Ignacio, a fourth year undergraduate student studying Economics and Data Science at the University of British Columbia. Beyond my studies, I've worked at 
        <a href="https://www.sealeassociates.com/">Seale & Associates</a>
        and 
        <a href="https://www.finamex.com.mx/">Vector Casa de Bolsa</a><sup>1</sup>
        as an IB Junior Analyst. I'm particularly interested in market and financial modeling to learn more about behaviours and dynamics<sup>2</sup>. In my own time I enjoy running, triathlon, hiking, and reading.
    </p>
    <p>At Seale & Associates, I worked with a small team on a number of buy-side, sell-side, and valuation projects, developing skills in financial modeling and supporting client communications in a high-pressure environment. At 
        Vector Casa de Bolsa</a>, I was trusted with high-responsibility tasks from the get-go, sharpening my technical skills and decision-making while exposing me to many facets of the M&A process. The independence and trust placed on me at these firms are what I valued most, having my work directly contribute to deliverables and large projects was a pleasure and allowed me to quickly learn and grow.
    </p>
    <p> I've also volunteered at Mexican machine learning startup 
        <a href="https://www.pulsarml.com/">PulsarML</a> 
         and as a primary school cross country coach in the Vancouver area.
    </p>

    <h2>About the Site</h2>
    <p>Pages are writen in HTML and use TailwindCSS to style alongside Jinja for templates. To host the site, I am retarded. </p>
    <p>This website was inspired by my friends Matt and Riley.</p>

    <h2></h2>
    <p>
        <sup>1</sup> Vector Casa de Bolsa was acquired by Finamex in 2025.
        <br>
        <sup>2</sup> Some of my work exploring prediction market dynamics can be found in the
            <a href="/projects">Projects</a> 
            page.
    </p>
{% endblock %}
