{% extends "base.html.jinja" %}

{% block content %}
<div class="mb-10"></div>
<div class="flex flex-col md:flex-row items-center md:items-start gap-12">
    <div class="flex-shrink-0">
        <img src="/static/images/profile.jpg" alt="profile" class="w-48 h-48 rounded-full">
        </img>   
    </div>
    <div>
        <p>Hello, this is the personal website of Ignacio Mijares Santibañez. To learn more about me and the website, visit the 
            <a href="/about">About</a> 
            page. You can also find information about my work and experience in the 
            <a href="/projects">Projects</a> 
            and 
            <a href="/resume">Resume</a> 
            pages.</p>
        <h2>Contact Me:</h2>
        <p>You can reach me via email at <a href="mailto:ignacio122003@gmail.com">ignacio122003@gmail.com</a>.
        </p>
    </div>
</div>
{% endblock %}


