{% extends "base.html.jinja" %}

{% block content %}
<p>Beyond academics, I have been a part of a number of projects throughout my undergraduate studies. These are some of the most notable:</p>

<h2><a href="https://github.com/ims2003/prediction_market_data_wrangling">Whales & Prediction Markets; Undergraduate Thesis</a></h2>
<p>My undergraduate thesis is centered on exploring the effects and behaviours of 'whales' in prediction markets, such as Polymarket. The goal of the thesis is to better understand how the market dynamics of event betting alter reactions surrounding whales. 
</p>
<!--pictures-->
<p class="italic">Skills: Python, Pandas, Market Analysis</p>

<h2><a href="https://patterns-of-growth.vercel.app/">Patterns of Growth; Data Visualizations on AI Trends</a></h2>
<p>A series of visualization mapping the trajectory of AI model development across time, geography, and use of resources. This visualization was built as a team for DSCI 320 at the University of British Columbia.
</p>
<!--pictures-->
<p class="italic">Skills: Python, Pandas, Altair</p>

<h2><a href="https://github.com/rileywheadon/poll-app">Polll; Survey & Polling Social Media Platform</a></h2>
<p>A web application and social network for creating and sharing polls. Polll was a team project where I was involved with plannig, front-end, and database development. Polll has been archived as of September 6th, 2025.
</p>
<!--pictures-->
<p class="italic">Skills: SQL, HTML, Javascript, CSS</p>



{% endblock %}