{% extends "base.html.jinja" %}

{% block content %}
<div class="mb-10"></div>

<h2>Whales & Prediction Markets</h2>

<div class="mb-10"></div>

<!--Short paragraph about the thesis' goals and skills-->

<!--Abstract-->

<iframe src="./static/thesis/thesis.pdf" width="100%" height="600px" style="border:none;" title="PDF Document">
    <a href="./static/thesis/thesis.pdf" download><button class="nav-button justify-center">Download My Thesis</button></a>
</iframe>

<!--code base-->

{% endblock content}